@model BookStore.ViewModels.EditorLivroViewModel
@{
    ViewBag.Title = "Create";
    //Layout = "~/Views/Shared/_LayoutSecundario.cshtml";
}

@helper minhaFunction(string Nome)
{
    <text>Usuário: @Nome</text>

    @*<div>
            @if (true)
            {
            Exemplo de interação entre html e razor
            }
        </div>*@
}

<h2>Novo Livro</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })

    <div class="alert alert-danger">
        @Html.ValidationMessage("Mensagem")
    </div>

    @Html.Partial("Partials/EditorLivroPartial", Model);    

    <button type="submit" class="btn btn-default">Salvar</button>
}

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}

@*@section menu{
        <div>
            Novo Registro
            <hr />
            <p>@minhaFunction("Lucian AF")</p>
            <hr />
        </div>
    }*@