@model IEnumerable<BookStore.ViewModels.Livro.EditorLivroViewModel>

<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ISBN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataLancamento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Categoria)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>

                <a href='@Url.Action("Edit", "Livro", new { id = item.Id})' title="Clique aqui para alterar">
                    <img src='@Url.Content("~/Img/edit.svg")' />
                </a>

                <a href='@Url.Action("Delete", "Livro", new { id = item.Id })' title="Clique aqui para remover">
                    <img src='@Url.Content("~/Img/delete.svg")' />
                </a>

                <a href='@Url.Action("View", "Livro", new { id = item.Id })' title="Clique aqui para visualizar">
                    <img src='@Url.Content("~/Img/viewForm.svg")' />
                </a>

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ISBN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataLancamentoGrid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria.Nome)
            </td>
        </tr>
    }

</table>
