<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css") @*Usado para renderizar os arquivos .css minificados pelo Bundle no browser*@
    @Styles.Render("~/Content/custom")
    @Scripts.Render("~/bundles/modernizr")@*Usado para renderizar os arquivos .js minificados pelo Bundle no browser*@
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Principal", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Autores", "Index", "Autor")</li>
                    <li>@Html.ActionLink("Livros", "Index", "Livro")</li>
                    <li>@Html.ActionLink("Categoria", "Index", "Categoria")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()

        <footer class="navbar-fixed-bottom">

            <hr />
            <div>
                <a href="https://github.com/lucian-af" target="_blank">GitHub</a>
                <p>@DateTime.Now.Year</p>
            </div>

        </footer>

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
